<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="theme-color" content="#<%- color.replace('#','') %>" />
    <% tags.forEach((tag)=>{ %>
    <meta property="<%- tag[0] %>" content="<%- tag[1] %>" />
    <% }) %>
    <title>OGPME</title>
  </head>
  <body>
    OGPME
  </body>
</html>
